<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/paneladmin}">

<div id="page" layout:fragment="content">
    <div class="container">
        <div class="row mt-5" id="stats">
            <div class="col col-lg-5 text-center">
                <h4>Numero de sugerencias:</h4>
                <p>Nuevas: <span th:text="${countSN}"></span></p>
                <p>En revision: <span th:text="${countSER}"></span></p>
                <div class="row text-center">
                    <a onclick="openPageWithHeaders('sugerencia.html', 'sugerenciaNav')"  class="col col-lg-11 col-md-6 col-sm-6  text-center me-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                    </a>    
                </div>
            </div>
            <div class="col col-lg-6 text-center">
                <h4>Reservas zonas comunes:</h4>
                <p>Programadas: <span th:text="${countRP}"></span></p>
                <p>En revision: <span th:text="${countER}"></span></p>
                <div class="row text-center">
                    <a oonclick="openPageWithHeaders('reservaZonaComun.html', 'reservaZonaComunNav')"  class="col col-lg-11 col-md-6 col-sm-6  text-center me-3">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7.01" y2="7"></line></svg>
                    </a>    
                </div>
            </div>
            <div class="col col-lg-7 text-center">
                <h4>Residentes:</h4>
                <p>Numero de residentes: <span th:text="${countR}"></span></p>
                <div class="row text-center">
                    <a onclick="openPageWithHeaders('residentes.html', 'residenteNav')" class="col col-lg-11 col-md-6 col-sm-6  text-center me-3">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                    </a>    
                </div>
            </div>
            <div class="col col-lg-4 text-center">
                <h4>Propietarios:</h4>
                <p>Numero de propietarios: <span th:text="${countP}"></span></p>
                <div class="row text-center">
                    <a onclick="openPageWithHeaders('propietarios.html', 'propietariosNav')" class="col col-lg-11 col-md-6 col-sm-6  text-center me-3">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                    </a>    
                </div>
            </div>
            <div class="col col-lg-8 text-center">
                <h4>Cuotas administracion:</h4>
                <p>Cuotas pendientes: <span th:text="${countPEN}"></span></p>
                <div class="row text-center">
                    <a onclick="openPageWithHeaders('cuota.html', 'cuotaNav')" class="col col-lg-11 col-md-6 col-sm-6  text-center me-3">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                    </a>    
                </div>
            </div>
        </div>
    </div>
</div>

</html>