<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<div id="page" layout:fragment="content">
  <head>
    <link rel="stylesheet" href="../css/styles/tablas.css">
  </head>
  <div class="container-fluid mb-5">
    <div class="row">
      <div class="col-lg-12  text-center mb-5">
        <input th:value="${user.apartamento.idApartamento}" id="apartamentoIDCuota" type="hidden" disabled>
        <h2>Cuotas de administracion</h2>
        <h6 class="text-center" th:text="'Torre: '+ ${user.apartamento.torre}"></h6>
        <h6 class="text-center" th:text="'Numero: '+ ${user.apartamento.numeroApartamento}">
      </div>
      <div class="col-lg-12 col-md-12">
        <h4 class="text-center">Registro cuotas del apartamento</h4>
        <table id="table" class="table table-bordered mt-5">
          <thead>
          <tr>
            <th scope="col">ID Cuota</th>
            <th scope="col">monto</th>
            <th scope="col">tipoDeCuota</th>
            <th scope="col">Estado</th>
          </tr>
          </thead>
          <tbody class="table-group-divider"></tbody>
        </table>
      </div>
      <div class="col-lg-9 col-md-10 col-sm-9 mt-3" id="seccionCuotasResidente">
        <p>En esta sección, se facilita el seguimiento y registro detallado de las cuotas de administración, con el objetivo de mantener un control efectivo sobre las obligaciones financieras. Aquí, se consigna minuciosamente la información relevante, incluyendo el motivo de cada cuota y su respectivo monto.</p>
      </div>
    </div>
  </div>
  <script src="../js/menus/residente/cuotaResidente.js"></script>
</div>
</html>

