<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<div id="page" layout:fragment="content">
    <div class="imagenhome">
        <div style="position: relative;">
            <img src="css/assets/pedregal.webp" class="d-block w-100" alt="Pedregal Image">
            <div id="centro">
                <h1>Conjunto Lima</h1>
                <p sec:authorize="!isAuthenticated()">Gestiona tus trámites sin salir de casa</p>
                <p class="p-2" sec:authorize="isAuthenticated()" th:text="'Usted es '+${user.rol}+ ' dentro de la copropiedad. Haga sus tramites aqui'"></p>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="fluid">
        <div class="col-12 text-center" id="tituloCards">Servicios</div>
        <div class="row" id="cards">
            <div  class="col-lg-3 col-md-6">
                <div class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" height="120" fill="#CCCCCC" viewBox="0 -960 960 960" width="130"><path d="M160-40v-80h640v80H160Zm0-800v-80h640v80H160Zm320 400q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm70-80q45-56 109-88t141-32q77 0 141 32t109 88h70v-480H160v480h70Zm118 0h264q-29-20-62.5-30T480-280q-36 0-69.5 10T348-240Zm132-280q-17 0-28.5-11.5T440-560q0-17 11.5-28.5T480-600q17 0 28.5 11.5T520-560q0 17-11.5 28.5T480-520Zm0 40Z"/></svg>
                    <div class="card-body">
                        <h5 class="card-title">Informacion Personal</h5>
                        <p class="card-text">Podra gestionar, actualizar la informacion personal para realizar sus tramites</p>
                    </div>
                </div>
            </div>
            <div  class="col-lg-3 col-md-6">
                <div class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" height="120" fill="#CCCCCC" viewBox="0 -960 960 960" width="130"><path d="M280-240q-17 0-28.5-11.5T240-280v-80h520v-360h80q17 0 28.5 11.5T880-680v600L720-240H280ZM80-280v-560q0-17 11.5-28.5T120-880h520q17 0 28.5 11.5T680-840v360q0 17-11.5 28.5T640-440H240L80-280Zm520-240v-280H160v280h440Zm-440 0v-280 280Z"/></svg>
                    <div class="card-body">
                        <h5 class="card-title">Sugerencias y/o Peticiones</h5>
                        <p class="card-text">Gestion de sugerencias o peticiones para la administracion de la copropiedad</p>
                    </div>
                </div>
            </div>
            <div  class="col-lg-3 col-md-6">
                <div class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" height="120" fill="#CCCCCC" viewBox="0 -960 960 960" width="130"><path d="M240-120v-720h280q100 0 170 70t70 170q0 100-70 170t-170 70H400v240H240Zm160-400h128q33 0 56.5-23.5T608-600q0-33-23.5-56.5T528-680H400v160Z"/></svg>
                    <div class="card-body">
                        <h5 class="card-title">Gestion de parqueaderos</h5>
                        <p class="card-text">Podra realizar consulta, solicitud de parqueaderos</p>
                    </div>
                </div>
            </div>
            <div  class="col-lg-3 col-md-6">
                <div class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" height="120"  fill="#CCCCCC" viewBox="0 -960 960 960" width="130"><path d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"/></svg>
                    <div class="card-body">
                        <h5 class="card-title">Certificados</h5>
                        <p class="card-text">Realizar la generacion de certificados de residencia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>