<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <style>
    #textoParqueadero{
      border: red 3px solid;
      border-radius: 20px;
      padding: 5px;
      background-color: #CCCC;
      color: black;
      font-size: 22px;
    }
    #textParqueaderoTitulo{
      color: red;
      font-weight: bold;
    }
  </style>
  <body>
    <div class="row p-5 mt-5 mb-5">
      <div class="col-lg-12">
        <form class="row  needs-validation" id="formCreate" novalidate>
          <input th:value="${user.cedula}" type="hidden" disabled>
          <div class="col-md-12">
            <label for="validationCustom02" class="form-label">Fecha inicio: </label>
            <input type="datetime-local" class="form-control" id="fechaInicioReserva" required>
            <div class="valid-feedback" id="v1">
              ¡Se ve bien!
            </div>
            <div class="invalid-feedback" id="v2">
              Por favor, digite una  fecha de inicio.
            </div>
          </div>
          <div class="col-md-12">
            <label for="validationCustom03" class="form-label">Fecha fin: </label>
            <input type="datetime-local" class="form-control" id="fechaFinReserva" required>
            <div class="valid-feedback" id="v1">
              ¡Se ve bien!
            </div>
            <div class="invalid-feedback" id="v2">
              Por favor, digite una fecha fin.
            </div>
          </div>
          <div class="col-md-12">
            <label for="validationCustom03" class="form-label">Zona comun: </label>
            <select class="form-select" id="zonaComunReserva" required>
              <option selected disabled value="">...</option>
            </select>
            <div class="valid-feedback" id="v1">
              ¡Se ve bien!
            </div>
            <div class="invalid-feedback" id="v2">
              Por favor, seleccione una zona comun.
            </div>
          </div>
          <div class="col-md-12 mb-5">
            <label for="validationCustom03" class="form-label">Notas (numero de mesas, sillas u otras especificaciones): </label>
            <input type="text" class="form-control h-100" id="notasReserva" required>
            <div class="valid-feedback" id="v1">
              ¡Se ve bien!
            </div>
            <div class="invalid-feedback" id="v2">
              Por favor, digite una nota.
            </div>
          </div>
          <button class="btn btn-success mt-5" id="enviar">Enviar reserva</button>
        </form>
      </div>
      <div id="textoParqueadero" class="col-lg-12 text-center mt-5 mb-5" >
        <h2 id="textParqueaderoTitulo">¡Atencion!</h2> 
        <p>En este formulario podra realizar las reservas de las zonas comunes, si esta esperando respuesta de una solicitud, revise aqui:</p>
        <button class="btn btn-warning mb-3" >Consultar reserva</button>
      </div>
    </div>
    <script>
      (function () {
    'use strict';
  
    var form = document.getElementById('formCreate');
    var enviarButton = document.getElementById('enviar');
  
    enviarButton.addEventListener('click', function (event) {
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      }
  
      form.classList.add('was-validated');
    }, false);
})();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>